body{

background-color: #D61355;

font-size: 20px;
font-family: sans-serif;
}
h1{
	line-height: 1.6;
    letter-spacing: 5px;
    font-size: 20px;
    font-family: sans-serif;
	color: rgb(46,204,113);
	text-transform: uppercase;
}
a{
	text-decoration: none;
	color: black;
}
a:hover {
	color: #30E3DF;
	font-family: courrier;
	font-weight: bold;
	}
#profile{
	display: flex;
}
.intro-div{
	padding: 5px;
	margin: 30px auto;
	border: 2px dashed black;
	border-radius: 10px;

box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.3);}